* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    background-color: rgb(78, 76, 76);
    margin-top: 50px;
}

.main {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: rgb(125, 218, 205);
    border-radius: 50%;
    text-align: center;
}

.material-icons {
    margin-top: 10px;
    font-size: 80px;
}

.titles {
    text-align: center;
}

.name {
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.title {
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form > div {
    display: flex;
    justify-content: center;
}

.button {
    position: relative;
    width: 250px;
    height: 40px;
    margin: 5px;
    padding: 0 45px;
}

.image-button {
    position: absolute;
    left: 10px;
    top: calc(50% - 12px);
}


